<html lang="en">
<head>
<meta charset="utf-8">
<title>Flux • Chat</title>
<link href='http://fonts.googleapis.com/css?family=Muli'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chatapp.css")">
</head>
<body>
	<section id="react"></section>

	<script src="@routes.Assets.at("lib/react/react.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("lib/flux/Flux.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/scalajs-example-fastopt.js")" type="text/javascript"></script>
	<!-- for production (play dist), use the optimized version instead -->
	<!-- <script src="@routes.Assets.at("javascripts/scalajs-example-opt.js")" type="text/javascript"></script> -->
	<script src="@routes.Assets.at("javascripts/scalajs-example-launcher.js")" type="text/javascript"></script>

</body>
</html>
